* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Score';
    src: url(../image/font/FB.woff) format('woff'),
        url(../image/font/FB.woff) format('truetype');
}
body {
    background: #272b30;
    padding-top: 70px;
}
.can {
    display: block;
    margin: 0px auto;
    background: #fff;
}